@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Noto Sans KR", "Noto Serif KR", serif;
}

body {
  background-color: white;
}

.wrap {
  width: 900px;
  margin: 80px auto 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: left;
  font-size: 36px;
  font-weight: 700;
  margin-right: 280px;
  margin-bottom: 20px;
  font-family: "Noto Serif KR";
}

.main > img {
  width: 900px;
}
