@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: "Pretendard", serif;
}

body {
  background-color: white;
}

.wrap {
  width: 900px;
  margin: 80px auto 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: left;
  font-size: 36px;
  font-weight: 700;
  color: #3f3f43;
  margin-right: 280px;
}

.main > img {
  width: 900px;
}
